// fonts
$main_font: "Montserrat", Arial, sans-serif;

// font colors
$main_font_color: #000000;

// bg colors
$main_bg_color: #ffffff;

// other colors

// others variables
$transition: all 0.3s;

// Значения ширины контента
$max_width: 1920px;
$max_width_desktop: 1200px;
$only_desktop: 1024px;
$max_width_tablet: 1023px;
$min_width_mobile: 320px;
$max_width_mobile: 767px;
$no_mobile_width: 768px; // для ховеров

// Ретинизация
$retina_dpi: 144dpi;
$retina_dppx: 1.5dppx;
