// fonts
$main_font: "Montserrat", Arial, sans-serif;
$logo_font: "Impact", Verdana, sans-serif;

// font colors
$main_font_color: #000000;
$alternate_font_color: #ffffff;
$main_title_bg_color: #ffe640;
$logo_sec_font_color: #50b1d7;

// bg colors
$main_bg_color: #ffffff;
$alternate_bg_color: #50b1d7;

// other colors
$index_page_wrapper_bg_color: #61484a;

// links/buttons colors
$link_color: $alternate_bg_color;
$link_hover_color: $main_title_bg_color;
$button_color: $alternate_bg_color;
$button_hover_color: $main_title_bg_color;
$button_modal_bg_color: #313131;
$button_modal_hover_bg_color: #484848;
$control_modal_hover_color: #989898;
$control_main_nav_color: #555555;

//inputs colors
$input_bg_color: rgba(255, 255, 255, 0.25);
$input_phone_placeholder_color: rgba(255, 255, 255, 0.3);

$input_hover_bg_color: rgba(255, 255, 255, 0.4);
$input_hover_phone_placeholder_color: #ffffff;

$input_invalid_border_color: #ff0000;

// shadows
$text_shadow: 2.121px 2.121px 3px rgba(0, 0, 0, 0.5);
$input_active_shadow: 0 0 12px rgba(80, 177, 215, 0.7);

// others variables
$transition: all 0.3s;

// Значения ширины контента
$max_width: 1920px;
$only_desktop: 1024px;
$max_width_tablet: 1023px;
$max_width_mobile: 767px;
$min_width_mobile: 320px;
$no_mobile_width: 768px; // для ховеров

$max_width_container: 1320px;
$breakpoint_desktop: 1220px;

// Ретинизация
$retina_dpi: 144dpi;
$retina_dppx: 1.5dppx;
