.container {
  width: 100%;
  max-width: $max_width_container;
  margin: 0 auto;
  padding: 0 15px;

  @include tablet {
    max-width: none;
    padding: 0 40px;
  }

  @include mobile {
    min-width: 290px;
    max-width: 80%;
    padding: 0;
  }
}
