.index_page_wrap {
  color: $alternate_font_color;

  background-color: $index_page_wrapper_bg_color;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/assets/img/bg_desktop@1x.png");

  @media (min-resolution: $retina_dpi), (min-resolution: $retina_dppx) {
    background-image: url("/assets/img/bg_desktop@2x.png");
  }
}

@media(max-width: $max_width_tablet) {
  .index_page_wrap {
    background-size: cover;
    background-image: url("/assets/img/bg_tablet@1x.png");

    @media (min-resolution: $retina_dpi), (min-resolution: $retina_dppx) {
      background-image: url("/assets/img/bg_tablet@2x.png");
    }
  }
}

@media(max-width: $max_width_mobile) {
  .index_page_wrap {
    background-size: cover;
    background-image: url("/assets/img/bg_mobile@1x.png");

    @media (min-resolution: $retina_dpi), (min-resolution: $retina_dppx) {
      background-image: url("/assets/img/bg_mobile@2x.png");
    }
  }
}
