.main_screen {
  padding: 80px 0 110px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > h1,
    & > p {
      margin: 0;
      padding: 0;

      text-transform: uppercase;
      text-align: center;
      letter-spacing: 3px;

      transition: $transition;

      @media(max-width: $breakpoint_desktop) {
        letter-spacing: 1px;
      }
    }

    & > h1 {
      font-weight: 800;
      font-size: 3.55em;
      line-height: 80px;
      color: $main_title_bg_color;
    }

    & > p {
      margin-bottom: 65px;

      font-weight: 600;
      font-size: 2.22em;
      line-height: 56px;

      @media(max-width: $breakpoint_desktop) {
        font-size: 1.94em;
      }
    }
  }

  &__form_request {
    width: 850px;

    p {
      margin: 0;
      margin-bottom: 20px;
      padding: 0;

      font-weight: 400;
      font-size: 1em;
      line-height: 24px;
      letter-spacing: 1px;
      text-align: center;
    }
  }

  @include tablet {
    padding: 5px 0 50px;

    &__inner {
      & > h1 {
        font-size: 2.22em;
        line-height: 50px;
        letter-spacing: 2px;
      }

      & > p {
        font-size: 1.17em;
        line-height: 30px;
        margin-bottom: 17px;
      }
    }

    &__form_request {
      width: 100%;

      p {
        letter-spacing: normal;
      }
    }
  }

  @include mobile {
    padding: 8px 0 90px;

    &__inner {
      & > h1 {
        font-size: 1.67em;
        line-height: 36px;
        margin-bottom: 10px;
      }

      & > p {
        padding: 0 40px;
        font-size: 1em;
        line-height: 24px;
        margin-bottom: 37px;
      }
    }

    &__form_request {
      p {
        margin-bottom: 25px;
      }
    }
  }
}
