html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  min-width: $min_width_mobile;
  width: 100%;
  height: 100%;

  font-weight: 400;
  font-family: $main_font;
  font-size: 18px;
  line-height: 24px;
  color: $main_font_color;
  background-color: $main_bg_color;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
