.button {
  padding: 20px;

  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
  text-align: center;
  color: $alternate_font_color;
  word-break: break-all;
  text-decoration: none;
  cursor: pointer;

  background-color: $button_color;
  border: none;
  border-radius: 10px;
  outline: none;

  transition: $transition;
}

@media(max-width: $max_width_tablet) {
  .button {
    padding: 16px 20px;
  }
}

@media(min-width: $no_mobile_width) {
  .button {
    &:hover,
    &:focus {
      color: $main_font_color;
      background-color: $button_hover_color;
    }

    &:active {
      color: $alternate_font_color;
      background-color: $button_color;
    }
  }
}
