.button {
  padding: 20px;

  font-weight: 600;
  font-size: 1em;
  line-height: 24px;
  vertical-align: middle;
  text-align: center;
  color: $alternate_font_color;
  word-break: break-all;
  text-decoration: none;
  cursor: pointer;

  background-color: $button_color;
  border: none;
  border-radius: 10px;
  outline: none;

  transition: $transition;

  &--modal {
    background-color: $button_modal_bg_color;
  }

  @include tablet {
    padding: 16px 20px;
  }

  @include hovers {
    &:hover,
    &:focus {
      color: $main_font_color;
      background-color: $button_hover_color;
    }

    &:active {
      color: $alternate_font_color;
      background-color: $button_color;
    }

    &--modal {
      &:hover,
      &:focus {
        color: $alternate_font_color;
        background-color: $button_modal_hover_bg_color;
      }

      &:active {
        background-color: $button_modal_bg_color;
      }
    }
  }
}
