.logo {
  display: flex;
  width: 300px;

  h2, p {
    margin: 0;
    padding: 0;
    color: $alternate_font_color;
  }

  h2 {
    margin-right: 15px;
    font-weight: 400;
    font-size: 41px;
    line-height: 41px;
    font-family: $logo_font;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    white-space: nowrap;

    span {
      color: $logo_sec_font_color;
    }
  }

  p {
    padding-top: 5px;
    width: 120px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.65px;
  }
}
