.main_nav {
  width: 44%;
  min-width: 340px;

  overflow-y: auto;

  color: $alternate_font_color;

  &__control,
  &__button {
    display: none;
  }

  @include tablet {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 310px;
    height: 100%;
    min-width: 0;
    padding: 61px 28px;
    padding-bottom: 300px;

    color: $main_font_color;
    background-color: $main_bg_color;

    &__control,
    &__button {
      display: block;
    }

    &__control {
      top: 22px;
      right: 27px;
    }

    &__button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;

      font-size: 14px;

      b {
        font-size: 0.85em;
        font-weight: 600;
      }
    }

    &--closed {
      display: none;
    }
  }
}
