.phone {
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  color: $alternate_font_color;
  white-space: nowrap;

  transition: $transition;

  span {
    color: $logo_sec_font_color;
    transition: $transition;
  }
}

@media(max-width: $max_width_tablet) {
  .phone {
    font-size: 30px;
  }
}

@media(max-width: $max_width_mobile) {
  .phone {
    font-size: 24px;
  }
}

@media(min-width: $no_mobile_width) {
  .phone {
    &:hover,
    &:focus {
      span {
        color: $link_hover_color;
      }
    }

    &:active {
      span {
        color: $logo_sec_font_color;
      }
    }
  }
}

