.phone {
  font-weight: 600;
  font-size: 2em;
  line-height: 48px;
  color: $alternate_font_color;
  white-space: nowrap;

  transition: $transition;

  span {
    color: $logo_sec_font_color;
    transition: $transition;
  }

  @include tablet {
    font-size: 1.67em;
  }

  @include mobile {
    font-size: 1.33em;
  }

  @include hovers {
    &:hover,
    &:focus {
      span {
        color: $link_hover_color;
      }
    }

    &:active {
      span {
        color: $logo_sec_font_color;
      }
    }
  }
}
