.site_list {
  @include ul_reset;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &__item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    a {
      display: block;
      padding: 14px 0;
      font-weight: 600;
      font-size: 0.89em;
      line-height: 20px;
      color: inherit;
      transition: $transition;
    }
  }

  @include tablet {
    flex-direction: column;
    align-items: flex-start;
  }

  @include hovers {
    .site_list__item {
      a:hover,
      a:focus {
        color: $link_hover_color;
      }

      a:active {
        color: inherit;
      }
    }
  }
}
